--extra-index-url https://download.pytorch.org/whl/cu121

# --- Core e Ambiente ---
python-dotenv
pandas
typing-extensions

# --- MLOps, Tracking e Fine-Tuning ---
mlflow
dagshub
unsloth
trl
peft
bitsandbytes
scipy
ninja
packaging
psutil

# --- Extração e OCR ---
pytesseract
docling
pypdf
openai
huggingface_hub[hf_xet]

# --- Métricas e Monitoramento ---
evidently
rouge-score
bert-score
nltk
scikit-learn
scipy

# --- Utilitários de DL (Aceleração CUDA p/ GTX 1650 4GB) ---
torch
torchvision
transformers
accelerate
